.center {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 60%;
    width: 30%;
    border-radius: 20px;
    margin-top: 10px;
    background-color: #fff;
}

.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: top;
    
}

.doctorsContainer {
    margin-top: 20px;
    width: 84%;
    border: 1px solid black;
}

.doctors {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    margin: 5px;
    width: 95%;
}

.doctors * {

    width: 20%;

}

.doctors_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 5px;
    width: 95%;
}

.doctors_header * {
    width: 20%;
}

.field {
    width: 30px;
}

.login_button {
    background-color: #344FFF;
    color: #fff;
    width: 250px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0 0;
}

.register_button {
    font-size: 12px;
}

.flex_column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: start;
}

.input {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    margin: 10px 0;
}


.login_title {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: left;
}