.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: top;
}

.patientsContainer {
    margin-top: 20px;
    width: 84%;
    border: 1px solid black;
}

.patients {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    margin: 5px;
}

.patients * {
    width: 25%;
}

.patients_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 5px;
}

.patients_header * {
    width: 25%;
}
