.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: top;
}

.recipesContainer {
    margin-top: 20px;
    width: 84%;
    border: 1px solid black;
}

.recipes {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    margin: 5px;
}

.recipes * {
    width: 33%;
}

.recipes_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 5px;
}

.recipes_header * {
    width: 33%;
}
