.App {
  text-align: center;
  height: 90vh;
}

.doctorsContainer {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.doctors {
  width: 800px;
  border: 1px solid black;
  display: flex;
  flex-direction: column nowrap;

  margin: 1px;
}

.doctors * {
  margin: 5px
}

.nav {
  height: 9%;
  border: 1px solid black;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.home_button, .doctor_login_button, .drugstore_login_button {
  text-decoration: none;
  color: black;
  border: 1px black solid;
  border-radius: 18px;
  padding: 10px;
}

.login_div * {
  margin: 10px;
}

.main_content {
  border: 1px black solid;
  height: 80vh;
  margin-top: 5px;
}


.side_bar * {
  text-decoration: none;
  color: black;
  text-align: left;
  padding: 10px;
}

.side_bar {
  margin-top: 5px;
  width: 15%;
  height: 75vh;
  border: 1px solid black;
}