.App {
  text-align: center;
  height: 100vh;
  background-color: #f4f7fe;
}
* {
  margin: 0;
  padding: 0;
  color: #2b3674;
  font-family: 'poppins';
  font-weight: bold;
}

.doctorsContainer {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.doctors {
  width: 800px;
  border: 1px solid black;
  display: flex;
  flex-direction: column nowrap;
  margin: 1px;
}

.doctors * {
  margin: 5px
}

.nav {
  width: 12%;
  height: 9%;
  border: 1px solid black;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.doctor_login_button, .drugstore_login_button {
  text-decoration: none;
  color: black;
  border: 1px black solid;
  border-radius: 18px;
  padding: 10px;
  background-color: #fff;
}

.login_div * {
  margin: 10px;
}

.main_content {
  height: 80vh;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side_bar * {
  text-decoration: none;
  padding: 10px;
}

.side_bar {
  width: 18%;
  height: 100vh;
  background-color: #fff;
  color: #2b3674;
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  align-items: center;
  padding: 20px;
}

.home_button {
  text-transform: uppercase;
  font-size: 20px;
}

.flex_column {
  text-align: left;
}