.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: top;
}

.drugstoresContainer {
    margin-top: 20px;
    width: 84%;
    border: 1px solid black;
}

.drugstores {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    margin: 5px;
}

.drugstores * {
    width: 50%;
}

.drugstores_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 5px;
}

.drugstores_header * {
    width: 50%;
}
