.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: start;
    margin: 0;
}

.appointmentsContainer {
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
    background-color: #fff;
}

.appointments {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.appointments * {

    width: 25%;

}

.appointments_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 5px;
}

.appointments_header * {
    width: 25%;
    font-size: 12px;
    text-transform: uppercase;
    color: #a3aed0;
}

.title {
    margin: 40px 0 0;
    font-size: 26px;
    text-align: left;
    padding: 10px;
    align-self: start;
}

.center {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    margin: 0 50px;
}
