.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: start;
    margin: 0;
}

.certificatesContainer {
    margin-top: 10px;
    width: 100%;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
}

.certificates {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 5px;
}

.certificates * {
    width: 50%;
}

.certificates_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 5px;
}

.certificates_header * {
    width: 50%;
    font-size: 12px;
    text-transform: uppercase;
    color: #a3aed0;
}
