.content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: top;
}

.certificatesContainer {
    margin-top: 20px;
    width: 84%;
    border: 1px solid black;
}

.certificates {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    margin: 5px;
}

.certificates * {
    width: 50%;
}

.certificates_header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 5px;
}

.certificates_header * {
    width: 50%;
}
